form.container#form(method='POST' action='/')
  #error
  #form__inputs
    .form-group
      input#user(type='text' name='user' placeholder='Username')
    .form-group
      textarea#text(name='text' placeholder='Type your message')
    
  button.btn: img(src='/icons/send.png' width='20px')