form.container#form(method='POST' action='/')
  #error
  #form__inputs
    .form-group
      input#user(type='text' name='user' placeholder='Username')
    .form-group
      input#text(name='text' placeholder='Write your message')
    
  button.btn#send__button: img(src='/icons/send.png' width='20px')