form.container(method='POST' action='/')
  .form-group
    input.form-control(type='text' name='user' placeholder='username')
  .form-group
  textarea.form_control(name='text' placeholder='Type your message')
  button Send Message
