main.main
  header.header
    nav.header__nav
      a(href='/')
        img(src='/icons/favicon.png' width='50px').header__icon 
      h1.header__title Mini Messenger
      ul
        li: a(href='#') Sign Up
        li: a(href='/login') Log In
