extends base

block contents
  section.all--messages
    each message in messages

      section.message
        .message__bubble
          p.message__user= `${message.user}:`
          p= message.text
          
        small.message__date-time= `${message.added}`.slice(3,21) 