extends base

block contents
  .all--messages
    each message in messages

      section.message
        p.message__user= `${message.user}:`
        p.message__text= message.text
          
        small.message__date-time= 'Sent:' + `${message.added}`.slice(3,21) 