body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #094776;
}

/* HEADER */
.header__nav {
  position: sticky;
  z-index: 999;
  top: -10px;
  border-bottom: 0.5px solid rgb(132, 132, 132);
}

.header__nav {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.header__title {
  margin-right: auto;
  padding-left: 10px;
}

/* MESSENGER CONTENTS */
.section__form {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 80vw;
  margin-bottom: 5px;
  border: 1px solid red;
}

.send__message {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
}

#send__button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}

/* Messages: */
.message {
  border: 1px solid #094776;
  margin: 10px;
  padding: 10px;
}

.message__bubble {
  display: flex;
  gap: 10px;
}

.message__user {
  font-weight: bold;
}

.message__date-time {
  font-weight: bolder;
}

/* FOOTER */
.footer {
  background-color: rgb(173, 173, 173);
  color: white;
  padding: 10px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  margin-top: 10px;
}

.footer__nav {
  padding: 10px 0;
  font-size: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.footer__copyright {
  text-align: center;
  margin: auto;
}
